// http://www.thedayscolor.com/wallpapers/050714_ommadawn.jpg

// c. Global
// - - - - - - - - - - - - - - - - - - - - - - - - -
$black: #111111;
$white: #f5f5f5;
$white-pure: #fff;
$white-light: #F5DDBB;
$grey: #eee;
$grey-light: scale-color($grey, $lightness: 60%);
$blue: #00404C;
$blue-light: #3D8087;
$green: #172C28;
$green-light: #305152;
$sand: #F8DFB6;

$primary-color: $blue;
$secondary-color: $green;
$info-color: $white-light;
