@charset 'utf-8';

// Settings
@import 'settings/colors';
@import 'settings/variables';

// Tools (mixins / functions)
// ... nothing ...

// Vendors
@import 'compass';
@import 'font-awesome';

@import 'vendors-settings/foundation';
@import 'foundation-sites';
@include foundation-everything(true);

@import 'vendors-settings/typeplate';
@import 'typeplate-starter-kit/scss/typeplate-vars';
@import 'typeplate-starter-kit/scss/typeplate-mixins';
@import 'typeplate-starter-kit/scss/typeplate-helpers';

// Generic (ground zero styles / reset / normalize)
// ... nothing ...

// Base
@import 'base/animations';
@import 'base/typography';

// Objects
// ... nothing ...

// Components (for now also Objects)
// -- base
@import 'components/buttons';
@import 'components/images';
@import 'components/labels';
@import 'components/lists';
@import 'components/typography';
// -- custom
@import 'components/blog';
@import 'components/riders';

// Layout
@import 'layout/banner';
@import 'layout/footer';
@import 'layout/navbar';

// Page
@import 'pages/default';
@import 'pages/blog';
@import 'pages/error';
@import 'pages/home/hero';
@import 'pages/home/intro';
@import 'pages/home/pitch';
@import 'pages/home/riders';
@import 'pages/riders';
