.blog .l-footer {
  margin-top: 0;
}

// styling the generated markdown
.p-blog-article {
  h2 {
    font-size: 2.5em;
    margin: rem-calc(40) 0;
  }

  h3 {
    font-size: 2em;
    margin: rem-calc(30) 0;
  }

  @include breakpoint(small) {
    h4 {
      font-size: rem-calc(25);
    }
  }


  p, li, a {
    font-size: rem-calc(25);
  }

  p {
    color: $black-light;
  }

  ul {
    list-style-type: square;
    padding-left: 2em;
  }

  .p-blog-stories-link {
    font-size: 1em;
  }
}
