.blog .l-footer {
  margin-top: 0;
}

// styling the generated markdown
.p-blog-article {
  h2 { margin-top: rem-calc(40); }
  h3 { margin-top: rem-calc(20); }
  h4 { margin-top: rem-calc(10); }

  p.c-blog-image--centered + h2 {
    margin-top: 3.5rem;
  }

  p.c-blog-image--centered + h3 {
    margin-top: 3.5rem;
  }

  p {
    color: $black-light;
  }

  ul {
    list-style-type: square;
    padding-left: 2em;
  }

  .p-blog-stories-link {
    font-size: 1em;
  }

  @include breakpoint(medium up) {
    p, li, a {
      font-size: rem-calc(25);
    }
  }
}
