// http://www.thedayscolor.com/wallpapers/050714_ommadawn.jpg

// 1. Global
// ---------
$black: #111111;
$black-light: #384C46;
$white: #f5f5f5;
$white-pure: #fff;
$white-light: #F5DDBB;
$grey: #eee;
$grey-light: scale-color($grey, $lightness: 60%);
$grey-dark: scale-color($grey, $lightness: -60%);
$blue: #3D8087;
$blue-dark: #00404C;
$green: #172C28;
$green-light: #305152;
$sand: #F8DFB6;

$primary-color:   $blue;
$secondary-color: $white-light;

$foundation-palette: (
  primary: $blue,
  secondary: $white-light,
  success: #3adb76, // not used
  warning: #ffae00, // not used
  alert: #cc4b37,   // not used
);
