// http://www.thedayscolor.com/wallpapers/050714_ommadawn.jpg

// 1. Global
// ---------
$sand: #F8DFB6;
$black: #111111;
$black-light: #384C46;
$white: #f5f5f5;
$white-pure: #fff;
$grey: #5f5f5f;
$blue: #3D8087;
$blue-dark: #00404C;

// Given by palette but not used (yet)
// $green: #172C28;
// $green-light: #305152;

$primary-color:   $blue;
$secondary-color: $sand;

$foundation-palette: (
  primary: $blue,
  secondary: $sand,
  success: #3adb76, // not used
  warning: #ffae00, // not used
  alert: #cc4b37,   // not used
);
