$font-family-sans-serif-real: 'Open Sans', sans-serif;
$font-family-sans-serif:      'Fanwood Text', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$font-family-serif:           'Quattrocento', Georgia, Cambria, "Times New Roman", Times, serif;

$font-weight-bold: 700;
$font-weight-normal: 400;

$paragrah-font-size: 1.25rem;
