.blog {
  .l-footer {
    margin-top: 0;
  }
}

.l-blog-cover {
  padding-top: rem-calc(20);
}

.l-blog-image--centered {
  text-align: center;
}

.l-blog-join-me {
  background-color: $grey-light;
  padding: rem-calc(20 0);
  margin-top: rem-calc(20);
  text-align: center;
}
