.l-footer {
  background-color: $grey;
  margin-top: rem-calc(40);
  padding: rem-calc(40 0 30);

  a {
    color: $black;

    &:hover {
      text-decoration: underline;
    }
  }

  li {
    font-size: $paragrah-font-size;
  }
}
