.l-footer {
  background-color: $blue;
  color: $white;
  margin-top: rem-calc(40);
  padding: rem-calc(40 0 30);

  a {
    color: $white;

    &:hover {
      text-decoration: underline;
    }
  }

  .button {
    background-color: $blue-dark;
  }

  .email {
    background-color: $white;
    color: $black;
  }
}
