.l-hero {
  background: $primary-color url(image-path("background.jpg")) 0% 50%;
  text-align:center;

  h1, h2, a {
    color: $white;
  }

  h1 {
    padding-top: 25%;
    font-weight: $font-weight-bold;
    letter-spacing: -1px;
    text-shadow: 0 1px 0 rgba($black, 0.8);

    @media #{$medium-up}{
      font-size: 6em;
    }
  }

  h2 {
    margin-bottom: 0;
  }

  .top-bar {
    background: none;
  }

  .top-bar-section li,
  .top-bar-section li a,
  .top-bar-section li:not(.has-form) a:not(.button) {
    color: $white;
    background: none;
    font-weight: $font-weight-bold;
  }

  .top-bar-section a {
    font-weight: $font-weight-bold;
  }

  .baseline {
    padding-bottom: 10%;

    .sub-baseline {
      color: $white;
      margin-top: 0;
      margin-bottom: rem-calc(50);
      font-size: rem-calc(30);
    }
  }


  .learn-more-link {
    i {
      display: block;
      font-size: rem-calc(40);
      text-decoration: none;
    }
  }
}
