.l-hero {
  background: $primary-color url(image-path("background.jpg")) 0% 50%;
  text-align:center;
  height: 100%;
  position: relative;

  .align-middle {
    height: 100%;
  }

  h1, h2, a {
    color: $white;
  }

  h1 {
    font-weight: $font-weight-bold;
    letter-spacing: -1px;
    text-shadow: 0 1px 0 rgba($black, 0.8);

    @media #{breakpoint(medium up)} {
      font-size: 6em;
    }
  }

  h2 {
    margin-bottom: 0;
  }

  .top-bar {
    background: none;

    a, li, ul {
      background: none;
      font-weight: $font-weight-bold;
    }
  }

  .top-bar-section li,
  .top-bar-section li a,
  .top-bar-section li:not(.has-form) a:not(.button) {
    color: $white;
    background: none;
    font-weight: $font-weight-bold;
  }

  .top-bar-section a {
    font-weight: $font-weight-bold;
  }

  .baseline {
    padding-bottom: 10%;

    .button {
      margin-right: 0;
      margin-bottom: 5%;
    }

    .sub-baseline {
      color: $white;
      margin-top: 0;
      margin-bottom: rem-calc(50);
      font-size: rem-calc(30);
    }
  }

  .learn-more-link {
    position: absolute;
    bottom: 3%;
    left: 50%;

    i {
      @include animation(bounce 3s infinite);

      display: block;
      font-size: rem-calc(40);
      margin-left: rem-calc(-15);
      text-decoration: none;
    }
  }
}
