.l-navbar {
  background-color: $white-pure;

  a, a:hover {
    color: $black;
  }

  li {
    background-color: $white-pure;

    a {
      margin: 0 rem-calc(10);
    }
  }

  &.title-bar {
    background-color: $white-pure;
    color: $black;
  }

  .name {
    font-size: 1em;
  }
}
