.l-section--content {
  @media #{breakpoint(medium up)} {
    display: flex;
    align-items: center;
  }
}

.l-section--intro {
  background-color: $grey;
  margin-bottom: rem-calc(40);
  padding: rem-calc(30 0 20);

  p {
    text-align: center;
  }
}

.l-section--pitch {
  padding: rem-calc(40 0);
  text-align: center;

  li {
    font-size: $paragrah-font-size;
  }
}
