.l-section--content {
  @media #{breakpoint(medium up)} {
    display: flex;
    align-items: center;
  }
}

.l-section--intro {
  background-color: $sand;
  color: $black-light;

  margin-bottom: rem-calc(40);
  padding: rem-calc(30 0 20);

  p {
    text-align: center;
  }

  .email {
    background-color: $white;
    color: $black-light;
    border: 1px solid $white;
  }
}

.l-section--pitch {
  padding: rem-calc(40 0);
  text-align: center;
}

.l-section--riders {
  background-color: $grey-light;
  margin-top: rem-calc(20);
  padding: rem-calc(20) 0;

  h2 {
    margin-bottom: rem-calc(20);
  }

  .button {
    margin-top: rem-calc(10);
  }
}
