.l-section--intro {
  background-color: $grey;
  margin-bottom: rem-calc(40);
  padding: rem-calc(30 0 20);
  text-align: center;
}

.l-section--pitch {
  padding: rem-calc(40 0);
  text-align: center;
}

.l-section--content {
  @media #{$medium-up}{
    display: flex;
    align-items: center;
  }
}
