.c-blog-authoring {
  @media #{breakpoint(medium up)} {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.c-blog-cover {
  margin-top: rem-calc(50);
}

.c-blog-date {
  font-size: 1em;
}

.c-blog-images {
  display: flex;
  align-items: center;
}

.c-blog-image--centered {
  text-align: center;
  margin-bottom: rem-calc(10);

  @include breakpoint(medium down) {
    img:nth-child(2n) {
      margin-top: rem-calc(10);
    }
  }
}

.c-blog-summary {
  color: $black-light;
}

.c-blog-title {
  margin: rem-calc(40) 0 0 0;
}
