.button {
  &.fat {
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-right: 0;
    padding: 1.2em 2em;
    font-size: rem-calc(16);
  }

  &.ghost {
    border: 3px solid $white-pure;
    background-color: transparent;
    letter-spacing: 5px;
    margin-right: 0;
    text-transform: uppercase;

    &:hover, &:focus {
      color: $primary-color;
      border: 3px solid $white-pure;
      background-color: $white-pure;
    }
  }

  &.ghost-reverse {
    color: $primary-color;
    border: 3px solid $primary-color;
    background-color: transparent;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
}
