.button {
  text-transform: uppercase;

  &.fat {
    letter-spacing: 5px;
    margin-right: 0;
    padding: rem-calc(20) rem-calc(30);
    font-size: rem-calc(16);
  }

  &.ghost {
    border: 3px solid $white-pure;
    background-color: transparent;
    letter-spacing: 5px;
    margin-right: 0;

    &:hover, &:focus {
      color: $primary-color;
      border: 3px solid $white-pure;
      background-color: $white-pure;
    }
  }

  &.ghost-reverse {
    color: $primary-color;
    border: 3px solid $primary-color;
    background-color: transparent;
    letter-spacing: 5px;
  }
}

.button-link {
  display: block;
  transition: transform ease-in 100ms;
  max-width: 150px;

  &:hover, &:focus {
    transform: translateX(5px);
  }
}
