.label {
  letter-spacing: 2px;
  font-family: $header-font-family;
  font-weight: $font-weight-bold;

  &.coming-soon {
    color: foreground($secondary-color);
    background: $secondary-color;
    border-radius: rem-calc(20);
  }
}
