---
layout: home
page_title: Meet nomads and travel together
description: Comunity of short-term digital workers. Propose, join & organise rides with other remote workers.
banner_picture: notebook.jpg
---

= partial 'home/hero'
= partial 'home/current_ride'
= partial 'home/pitch'
= partial 'home/how_it_works'
= partial 'home/stories'
= partial 'home/riders'
= partial 'home/incentive'
