---
layout: home
page_title: Meet nomads and travel together
description: Trip planner platform for short-term digital workers. Propose, join & organise rides with other remote workers.
banner_picture: notebook.jpg
---

= partial 'home/hero'
= partial 'home/intro'
= partial 'home/pitch'
= partial 'home/riders'
= partial 'home/incentive'
